Source: ondevice
Section: python
Priority: extra
Maintainer: ondevice.io team <info@ondevice.io>
Build-Depends: debhelper (>= 6), python, dh-virtualenv (>= 0.8), python-dev
Standards-Version: 3.9.5

Package: ondevice-python2.6
Architecture: any
Pre-Depends: dpkg (>= 1.15), python2.6, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Description: official ondevice.io client
 see https://ondevice.io/ for details
