#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --preinstall python-daemon==1.5.5 --install-suffix=ondevice

override_dh_builddeb:
	# improve compatibility with older debian-compatible releases
	dh_builddeb -- -Zgzip
